<div class="app">
  <header>
    <section>
      <h1>{{ title }}</h1>
      <h2> {{ version }}</h2>
    </section>
    <nav>
      <ul>
        <li><a routerLink="/">Dashboard</a></li>
        <li><a routerLink="/dealershipConfiguration">DealershipConfiguration</a></li>
        <li><a routerLink="/appraisal">Appraisal</a></li>
        <li><a routerLink="/login">login</a></li>
        <li><a routerLink="/sac">SAC</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <a href="https://www.carcash.com/">&copy; 2021 - www.carcash.com</a>
  </footer>

</div>